.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100; /* always at front */
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header__search {
  display: flex; /* applying display flex to arrange them in row, using flex box */
  flex: 1; /* flex 1 says stretch as big as it can go */
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  align-items: center;
  background-color: #cd9042;
}
.header__optionLineOne {
  font-size: 12px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}
.header__optionBasket {
  display: flex;
  align-items: flex-end;
  color: white;
  margin-top: 6px; /* pachi add gareko basket ko line milaunu */
}
.header__basketCount {
  font-size: 13px;
  font-weight: 800;
  margin-right: 20px;
  margin-left: 5px;
  color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly; /* flex box rules applies here*/
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
